In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
import numpy as np

In [2]:
df = pd.read_csv('Transformed.csv')

In [3]:
df.head()

,Unnamed: 0,Bhk,total_sqft,bath,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,price
0,0,2.0,1056.0,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39.07
1,1,4.0,2600.0,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,120.00
2,2,3.0,1440.0,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,62.00
3,3,3.0,1521.0,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,95.00
4,4,2.0,1200.0,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,51.00

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.sample(5)

,Bhk,total_sqft,bath,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,price
4635,2.0,960.0,2.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45.0
2910,3.0,1760.0,3.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,127.0
273,2.0,883.0,2.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45.0
6384,2.0,1246.0,2.0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,67.5
2145,2.0,1400.0,2.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,78.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7604 entries, 0 to 7603
Columns: 245 entries, Bhk to price
dtypes: float64(4), int64(241)
memory usage: 14.2 MB

In [7]:
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:244],df.iloc[:,244],test_size=0.2)

In [8]:
from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [14]:
lr = LinearRegression()
l1 = Lasso(alpha=0.05)
r1 = Ridge(alpha=0.05)
d1 = DecisionTreeRegressor()
k1 = KNeighborsRegressor()
a1 = AdaBoostRegressor(lr)
g1 = GradientBoostingRegressor()
svr = SVR()

In [15]:
est = {'lr':lr,'l1':l1,'r1':r1,'d1':d1,'k1':k1,'a1':a1,'g1':g1,'svr':svr}

In [16]:
def create_model(estimaters,X_train,y_train,X_test,y_test):
    X = []
    col_names = ['model','r2_score','mae','mse']
    for i in estimaters.keys():
        a = []
        a.append(i)
        estimaters[i].fit(X_train,y_train)
        y_pred = estimaters[i].predict(X_test)
        a.append(r2_score(y_pred,y_test))
        a.append(mean_absolute_error(y_pred,y_test))
        a.append(mean_squared_error(y_pred,y_test))
        X.append(a)
    ans = pd.DataFrame(X,columns=col_names)
    return ans

In [17]:
ans = create_model(est,X_train,y_train,X_test,y_test)

In [18]:
ans.sort_values(by='r2_score',ascending=False)

  model  r2_score        mae          mse
2    r1  0.627970  16.957188  1089.113369
0    lr  0.624916  16.967283  1099.673516
5    a1  0.590807  24.853575  1662.489630
6    g1  0.543852  17.486963  1118.862410
3    d1  0.529665  17.168232  1497.955316
1    l1  0.529553  18.364383  1229.855253
4    k1  0.514423  19.910567  1482.669538
7   svr  0.030219  20.421006  1592.867253